Video 06 Customer Support RAG Agent/AI Customer Support Agent.json
{
  "name": "AI Customer Support Agent Project",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        304,
        176
      ],
      "id": "REDACTED",
      "name": "Groq Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.emailAddress }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        496,
        176
      ],
      "id": "REDACTED",
      "name": "Postgres Chat Memory",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        368
      ],
      "id": "REDACTED",
      "name": "Embeddings Google Gemini",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "Asadullah AI",
          "cachedResultUrl": "REDACTED"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        592
      ],
      "id": "REDACTED",
      "name": "Download file",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -288,
        592
      ],
      "id": "REDACTED",
      "name": "Supabase Vector Store1",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        816
      ],
      "id": "REDACTED",
      "name": "Embeddings Google Gemini1",
      "credentials": {}
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -112,
        784
      ],
      "id": "REDACTED",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -112,
        944
      ],
      "id": "REDACTED",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BEUGN8DCM",
          "mode": "list",
          "cachedResultName": "all-asadullah-ai-youtube"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.5,
      "position": [
        704,
        176
      ],
      "id": "REDACTED",
      "name": "Notify Team",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Get complete updated information of Company from the vector store to answer customer queries ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        880,
        176
      ],
      "id": "REDACTED",
      "name": "Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Email : {{ $json.emailAddress }}\nEmail Subject : {{ $json.subject }}\nEmial Body : {{ $json.emailBody }}",
        "options": {
          "systemMessage": "=You are the intelligent Assistant of Asadullah AI, led by Kaggle Grandmaster (Rank #26) and Notebook Master (Rank #80). You provide solutions in AI, ML, DL, NLP, CV, Agentic AI, and SaaS Full\u2011Stack Web Development.\n\nYou are conversing with users via email.\n\nCRITICAL OPERATIONAL RULES:\n1. For Asadullah AI Policy or project\u2011related queries, you MUST first call the Vector Store tool to retrieve relevant information. Base responses only on retrieved content \u2014 never invent or assume details.\n2. Maintain a professional yet approachable tone. Replies must be concise, natural, and usually just a few lines. Expand only when explicitly requested.\n\nSPECIAL HANDLING (Orders or Website Complaints):\nIf the incoming email is an order request or a complaint about website errors, you MUST:\n- Call the 'Notify Team' tool immediately. You MUST pass the \"User Email\" provided in the input context into the tool message so the team can manually contact them.\n- Draft a reply email confirming receipt to the user.\n\nRESPONSE FORMAT INSTRUCTIONS:\n- You must output your response purely as standard text containing a valid JSON object. \n- DO NOT attempt to call a function, schema, or tool named 'json' to output this data. \n- Do not include markdown formatting or wrappers like ```json. \n\nMatch this JSON schema exactly:\n{\n  \"subject\": \"Re: [Original Subject]\",\n  \"body\": \"[Your concise email response body here]\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        0
      ],
      "id": "REDACTED",
      "name": "Customer Support Agent"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -576,
        -16
      ],
      "id": "REDACTED",
      "name": "Gmail Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').first().json.emailAddress }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        0
      ],
      "id": "REDACTED",
      "name": "Send a message",
      "webhookId": "REDACTED",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "REDACTED",
      "name": "Format Output"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "REDACTED",
      "name": "Groq Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "inputText": "={{ $('Gmail Trigger').item.json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotional",
              "description": "Promotional message like social media platforms,marketing websites like ads offering discount and useless to reply  and spam like"
            },
            {
              "category": "Customer Support",
              "description": "Real Human message asking about our service , placing order , requesting to contact to customer support team or Asadullah AI Company information question answering"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -96,
        -16
      ],
      "id": "REDACTED",
      "name": "Classifer Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED",
              "name": "emailAddress",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "REDACTED",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "REDACTED",
              "name": "emailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -16
      ],
      "id": "REDACTED",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classifer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classifer Agent": {
      "main": [
        [],
        [
          {
            "node": "Customer Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Classifer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  },
  "nodeGroups": [],
  "id": "REDACTED",
  "tags": []
}